A Cover Page X 
A Table of Contents X
Narrative Breakdown Z
Game Genre , Theme Z Z
Will it be a sample Level, from a "Start Level" screen through to a "Game Over" Screen
Will it be a Game Level populated with complex systems Z Z
Moodboards Z
Mind maps Z
Supporting imagery and reference Z
A segment of an Open World showing us your game on smaller scale. Z
Goals & Objectives  Z
Target Audience/Demographic Z
Functional Requirements 
Non-Functional Requirements
	Accessibility Requirements 
Technical Requirements 
Phases of development (Timescales)
The tasks carried out & projected dates/times
The resources used
Project Milestones
Deliverables

ANYTHING ELSE IS LIKELY OPTIONAL/ENCOURAGED NOT REQUIRED